<!DOCTYPE html>
<html>
	<head>
	<title>Team Tardis</title>
	</head>
	<body style = "background-color:Turquoise ;">
		<h1>Add Task </h1>
		<p> Please add your new task <br/></p>
		
		<form name="input" action="/" method="get">
		Task: <input type="text" name="task"><br>
		Description: <input type="text" name="des"><br>
		Due Date: <input type="text" name="due"><br>
		Location: <input type="text" name="loc"><br>
		<input type="submit" value="Done">
		</form>


	</body>
</html>
