<!DOCTYPE html>
<html style="height:100%">
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<title>Team Tardis</title>
	</head>
	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#000000; font-size:30px;">Welcome to your To-Do List</h1>
		
		<button id="addtask" style="background:#66CCFF; color:#000000; border-radius:10px; font-family:'Calibri'; font-size:20px;"><strong>Add Task</strong></button>
		</div>
		
		<script>
			$(document).on("click", "#addtask", function(){
				window.location = '/addtask';
			});
		</script> 
	</body>
</html>
