<!DOCTYPE html>
<html style="height:100%">
	<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link type = "text/css" rel = "stylesheet" href = "css/bootstrap.css" />
		<ul class = "nav nav-pills">
			<li class="active" style = "width: 25%;"><a href="#" id = Home data-toggle = "tab">Home</a></li>
			<li style = "width: 25%;"><a href="#" id = AddTask data-toggle = "tab">Add Task</a></li>
		</ul>
		<script>
			$(document).on("click", "#Home", function(){
				window.location = '/';
			});

			$(document).on("click", "#AddTask", function(){
				window.location = '/addtask';
			});
		</script> 
		<title>Team Tardis</title>
	</head>

	<body style="font-family:'Calibri'; text-align: center; height:100%">
		<div class="vertical-align-middle">
		<h1 style="color:#000000; font-size:30px;">Welcome to your To-Do List</h1>
		<ul class="list-group">
			<li class="list-group-item" ><a href="#" id= "t0" ></a></li>
			<li class="list-group-item" ><a href="#" id= "t1" ></a></li>
			<li class="list-group-item" ><a href="#" id= "t2" ></a></li>
			<li class="list-group-item" ><a href="#" id= "t3" ></a></li>
			<li class="list-group-item" ><a href="#" id= "t4" ></a></li>
		</ul>
		<script>
			$.get("/report", function( records ) {
				for(num=0;num<5;num++){
					str = '#t' + num;
					$(str).append(records[num].name);
				}	
			});
			$(document).on("click", "#t0", function(){
				$.post("/taskinfo", {idx: 0} );
				window.location = '/details';
			});
			$(document).on("click", "#t1", function(){
				$.post("/taskinfo", {idx: 1} );
				window.location = '/details';
			});
			$(document).on("click", "#t2", function(){
				$.post("/taskinfo", {idx: 2} );
				window.location = '/details';
			});
			$(document).on("click", "#t3", function(){
				$.post("/taskinfo", {idx: 3} );
				window.location = '/details';
			});
			$(document).on("click", "#t4", function(){
				$.post("/taskinfo", {idx: 4} );
				window.location = '/details';
			});
		</script>
		<button id="addtask" style="background:#428bca; color:#FFFFFF; border-radius:10px; font-size:18px; padding-left: 15px; padding-right: 15px; padding-top: 3px; padding-bottom: 3px;">Add New Task</button>
		</div>
		<script>
			$(document).on("click", "#addtask", function(){
				window.location = '/addtask';
			});
		</script> 
		<!--<button id="delete" style="background:red; color:#FFFFFF; border-radius:10px; font-size:18px; padding-left: 15px; padding-right: 15px; padding-top: 3px; padding-bottom: 3px;">Remove All Tasks</button>
		</div>
		<script>
			$(document).on("click", "#delete", function(){
				$.post("/clear", {_id: 'false'} );
				window.location = '/';
			});
		</script>-->

	</body>
</html>
